# ==============================================================================
# ART FOR SALE - Proteção de Cache
# ==============================================================================
Order allow,deny
Deny from all
Require all denied
